@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: #18181b;
  background-color: #bef264;
}
